body {
	font-family: helvetica, arial, sans-serif; 
	background: url(../images/sakura.png);
	line-height: 24px;
}

h1 {
	padding: 50px;
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

.container {
	margin: 0 100px 0 100px;

}

.instructions {
	padding: 50px;
	background-color: #D5DADE;
	border: 5px solid black;
	margin: 15px;
}

.text {
	width: 200px;
	height: 150px;
	padding: 10px;
	background-color: #D5DADE;
	border: 5px solid black;
	margin: 15px;
	float: left;

}

.number-div {
	float: left;
	width: 200px;
	padding: 50px;
	background-color: #D5DADE;
	border: 1px solid black;
}

.image-div-jq {
	float: left;
	margin: 10px;
	background-color:  #D5DADE;
	border: 2px solid black;
	line-height: 0;
}

.row {
	clear: left;
	width: 100%;
	padding: 10px;

}

